<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="minibe">


  <!-- UR5 Dimensions -->  
  <xacro:property name="ur5_tool_rad" value="0.075"/>
  <xacro:property name="ur5_tool_height" value="0.0250"/>

  <!-- Servo Dimensions -->  
  <xacro:property name="xh540_dim_len" value="0.0335"/>
  <xacro:property name="xh540_dim_width" value="0.050"/>
  <xacro:property name="xh540_dim_height" value="0.0585"/>
  <xacro:property name="xh540_servo_rad" value="${.5*0.026}"/>

  
  <xacro:property name="xm430_dim_len" value="0.0285"/>
  <xacro:property name="xm430_dim_width" value="0.0380"/>
  <xacro:property name="xm430_dim_height" value="0.0465"/>
  <xacro:property name="xm430_servo_rad" value="${.5*0.0195}"/>


  <xacro:property name="twoXC430_dim_len" value="0.036"/>
  <xacro:property name="twoXC430_dim_width" value="0.036"/>
  <xacro:property name="twoXC430_dim_height" value="0.0465"/>
  <xacro:property name="twoXC430_servo_rad" value="${0.0205/2}"/>


  <!-- Design Space (Variable Kinematic Dimensions) -->
  <xacro:property name="d0" value=".085"/>

  <xacro:property name="d1" value=".150"/>
  <xacro:property name="d1_B" value=".03525"/>
  <xacro:property name="d1_A" value="${d1-d1_B}"/>

  <xacro:property name="d2" value=".0750"/>
  <xacro:property name="d2_B" value="${.0585-.04475}"/>
  <xacro:property name="d2_A" value="${d2-d2_B}"/>

  <xacro:property name="d3" value=".125"/>
  <xacro:property name="d3_A" value="${.04475}"/>
  <xacro:property name="d3_B" value="${d3-d2_A}"/>

  <xacro:property name="d4" value=".25"/>
  <xacro:property name="d5" value=".125"/>

  <xacro:property name="d6" value=".125"/>
  <xacro:property name="d6_B" value="${.04475}"/>
  <xacro:property name="d6_A" value="${d6-d6_B}"/>

  <xacro:property name="d7" value=".200"/>
  <xacro:property name="d8" value=".100"/>
  <xacro:property name="d9" value=".025"/>



  <!-- Fixed Dimensions -->  
  <xacro:property name="base_link_thickness" value=".025"/>
  <xacro:property name="gripper_width" value="${twoXC430_dim_width}"/>
  <xacro:property name="link_thickness" value=".005"/>
  <xacro:property name="total_base_len" value="${xh540_dim_width+link_thickness*2+d4+d5}"/>


  <!-- Colors___________________ -->
  <material name="red">
    <color rgba="1 0 0 .95"/>
  </material>
  <material name="green">
    <color rgba="0 1 0 .95"/>
  </material>
  <material name="blue">
    <color rgba="0 0 1 1"/>
  </material>
  <material name="black">
    <color rgba="0 0 0 .95"/>
  </material>
  <material name="green_fade">
    <color rgba="0 1 0 .25"/>
  </material>


  
  <!--World frame-->
  <link name="world"/>

  <!--Link 0 - Fixed End Effector -->
  <link name="link_d0_ee">
    <!--Gripper body-->
    <visual>
      <geometry>
        <box size="${twoXC430_servo_rad} ${gripper_width} ${link_thickness}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 ${-link_thickness/2}"/>
      <material name="red"/>
    </visual>
    <collision>
      <geometry>
        <box size="${twoXC430_servo_rad} ${gripper_width} ${link_thickness}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 ${-link_thickness/2}"/>
    </collision>
    
    <visual>
      <geometry>
        <box size="${twoXC430_servo_rad} ${link_thickness} ${gripper_width} " />
      </geometry>
      <origin rpy="0 0 0" xyz="0 ${-.5*(gripper_width + link_thickness)} ${gripper_width/2-link_thickness}"/>
      <material name="red"/>
    </visual>
    <collision>
      <geometry>
        <box size="${twoXC430_servo_rad} ${link_thickness} ${gripper_width} " />
      </geometry>
      <origin rpy="0 0 0" xyz="0 ${-.5*(gripper_width + link_thickness)} ${gripper_width/2-link_thickness}"/>
    </collision>
    <visual>
      <geometry>
        <box size="${twoXC430_servo_rad} ${link_thickness} ${gripper_width} " />
      </geometry>
      <origin rpy="0 0 0" xyz="0 ${.5*(gripper_width + link_thickness)} ${gripper_width/2-link_thickness}"/>
      <material name="red"/>
    </visual>
    <collision>
      <geometry>
        <box size="${twoXC430_servo_rad} ${link_thickness} ${gripper_width} " />
      </geometry>
      <origin rpy="0 0 0" xyz="0 ${.5*(gripper_width + link_thickness)} ${gripper_width/2-link_thickness}"/>
    </collision>

    <visual>
      <geometry>
        <box size="${twoXC430_dim_len} ${twoXC430_dim_width} ${twoXC430_dim_height}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 ${-d0 + twoXC430_dim_height/2-.01125}"/>
    </visual>
    <collision>`
      <geometry>
        <box size="${twoXC430_dim_len} ${twoXC430_dim_width} ${twoXC430_dim_height}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 ${-d0 + twoXC430_dim_height/2-.01125}"/>
    </collision>

    <visual>
      <geometry>
        <box size="${twoXC430_servo_rad} ${twoXC430_servo_rad} ${d0-(link_thickness)-(twoXC430_dim_height-.01125)}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 ${(-d0+(twoXC430_dim_height-.01125)-link_thickness)/2}"/>
    </visual>
    <collision>`
      <geometry>
        <box size="${twoXC430_servo_rad} ${twoXC430_servo_rad} ${d0-(link_thickness)-(twoXC430_dim_height-.01125)}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 ${(-d0+(twoXC430_dim_height-.01125)-link_thickness)/2}"/>
    </collision>

  </link>

  <link name="link_d1">
    <visual>
      <geometry>
        <cylinder radius="${twoXC430_servo_rad}" length="${link_thickness}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 ${-.5*(twoXC430_dim_len+link_thickness)}"/>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="${twoXC430_servo_rad}" length="${link_thickness}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 ${-.5*(twoXC430_dim_len+link_thickness)}"/>
    </collision>
    <visual>
      <geometry>
        <box size="${d1_A} ${2*twoXC430_servo_rad} ${link_thickness}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="${-.5*(d1_A)} 0 ${-.5*(twoXC430_dim_len+link_thickness)}"/>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <box size="${d1_A} ${2*twoXC430_servo_rad} ${link_thickness}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="${-.5*(d1_A)} 0 ${-.5*(twoXC430_dim_len+link_thickness)}"/>
    </collision>
    <visual>
      <geometry>
        <cylinder radius="${twoXC430_servo_rad}" length="${link_thickness}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 ${.5*(twoXC430_dim_len+link_thickness)}"/>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="${twoXC430_servo_rad}" length="${link_thickness}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 ${.5*(twoXC430_dim_len+link_thickness)}"/>
    </collision>
    <visual>
      <geometry>
        <box size="${d1_A} ${2*twoXC430_servo_rad} ${link_thickness}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="${-.5*(d1_A)} 0 ${.5*(twoXC430_dim_len+link_thickness)}"/>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <box size="${d1_A} ${2*twoXC430_servo_rad} ${link_thickness}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="${-.5*(d1_A)} 0 ${.5*(twoXC430_dim_len+link_thickness)}"/>
    </collision>
    <visual>
      <geometry>
        <box size="${link_thickness} ${2*twoXC430_servo_rad} ${twoXC430_dim_len}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="${-d1_A + link_thickness/2} 0 0 "/>
    </visual>
    <collision>
      <geometry>
        <box size="${link_thickness} ${2*twoXC430_servo_rad} ${twoXC430_dim_len}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="${-d1_A + link_thickness/2} 0 0 "/>
    </collision>

    <visual>
      <geometry>
        <box size="${xm430_dim_height} ${xm430_dim_len} ${xm430_dim_width}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="${-1*(d1_A + .5*xm430_dim_height)} 0 0 "/>
      <material name="black"/>
    </visual>
    <collision>
      <geometry>
        <box size="${xm430_dim_height} ${xm430_dim_len} ${xm430_dim_width}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="${-1*(d1_A + .5*xm430_dim_height)} 0 0 "/>
    </collision>
  </link>

  <link name="link_d2">
    <visual>
      <geometry>
        <cylinder radius="${xm430_servo_rad}" length="${link_thickness}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 ${-.5*(xm430_dim_width+link_thickness)}"/>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="${xm430_servo_rad}" length="${link_thickness}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 ${-.5*(xm430_dim_width+link_thickness)}"/>
    </collision>
    <visual>
      <geometry>
        <box size="${d2/2} ${2*xm430_servo_rad} ${link_thickness}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="${-.5*(d2/2)} 0 ${-.5*(xm430_dim_width+link_thickness)}"/>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <box size="${d2/2} ${2*xm430_servo_rad} ${link_thickness}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="${-.5*(d2/2)} 0 ${-.5*(xm430_dim_width+link_thickness)}"/>
    </collision>
    <visual>
      <geometry>
        <cylinder radius="${xm430_servo_rad}" length="${link_thickness}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 ${.5*(xm430_dim_width+link_thickness)}"/>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="${xm430_servo_rad}" length="${link_thickness}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 ${.5*(xm430_dim_width+link_thickness)}"/>
    </collision>
    <visual>
      <geometry>
        <box size="${d2/2} ${2*xm430_servo_rad} ${link_thickness}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="${-.5*(d2/2)} 0 ${.5*(xm430_dim_width+link_thickness)}"/>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <box size="${d2/2} ${2*xm430_servo_rad} ${link_thickness}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="${-.5*(d2/2)} 0 ${.5*(xm430_dim_width+link_thickness)}"/>
    </collision>

    <visual>
      <geometry>
        <box size="${link_thickness} ${xh540_dim_width} ${xm430_dim_width}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="${-d2/2 + link_thickness/2} 0 0"/>
    </visual>
    <collision>
      <geometry>
        <box size="${link_thickness} ${xh540_dim_width} ${xm430_dim_width}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="${-d2/2 + link_thickness/2} 0 0"/>
    </collision>

    <visual>
      <geometry>
        <cylinder radius="${xh540_servo_rad}" length="${link_thickness}"/>
      </geometry>
      <origin rpy="${pi/2} 0 0" xyz="${-d2} ${xh540_dim_width/2 + link_thickness/2} 0"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="${xh540_servo_rad}" length="${link_thickness}"/>
      </geometry>
      <origin rpy="${pi/2} 0 0" xyz="${-d2} ${xh540_dim_width/2 + link_thickness/2} 0"/>
    </collision>
    <visual>
      <geometry>
        <box size="${d2/2} ${link_thickness} ${2*xh540_servo_rad}" />
      </geometry>
      <origin rpy="0 0 0" xyz="${-.75*d2+link_thickness} ${xh540_dim_width/2 + link_thickness/2} 0" />
    </visual>
    <collision>
      <geometry>
        <box size="${d2/2} ${link_thickness} ${2*xh540_servo_rad}" />
      </geometry>
      <origin rpy="0 0 0" xyz="${-.75*d2+link_thickness} ${xh540_dim_width/2 + link_thickness/2} 0" />
    </collision>

    <visual>
      <geometry>
        <cylinder radius="${xh540_servo_rad}" length="${link_thickness}"/>
      </geometry>
      <origin rpy="${pi/2} 0 0" xyz="${-d2} ${-(xh540_dim_width/2 + link_thickness/2)} 0"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="${xh540_servo_rad}" length="${link_thickness}"/>
      </geometry>
      <origin rpy="${pi/2} 0 0" xyz="${-d2} ${-(xh540_dim_width/2 + link_thickness/2)} 0"/>
    </collision>
    <visual>
      <geometry>
        <box size="${d2/2} ${link_thickness} ${2*xh540_servo_rad}" />
      </geometry>
      <origin rpy="0 0 0" xyz="${-.75*d2+link_thickness} ${-(xh540_dim_width/2 + link_thickness/2)} 0" />
    </visual>
    <collision>
      <geometry>
        <box size="${d2/2} ${link_thickness} ${2*xh540_servo_rad}" />
      </geometry>
      <origin rpy="0 0 0" xyz="${-.75*d2+link_thickness} ${-(xh540_dim_width/2 + link_thickness/2)} 0" />
    </collision>
  </link>

  <link name = "link_d3">
    <visual>
      <geometry>
        <box size="${xh540_dim_height} ${xh540_dim_len} ${xh540_dim_width} "/>
      </geometry>
      <origin xyz="${-(xh540_dim_height/2-.01375)} 0 0" rpy="0 0 0"/>
      <material name="black"/>
    </visual>
    <collision>
      <geometry>
        <box size="${xh540_dim_height} ${xh540_dim_len} ${xh540_dim_width} "/>
      </geometry>
      <origin xyz="${-(xh540_dim_height/2-.01375)} 0 0" rpy="0 0 0"/>
    </collision>
  </link>

  <link name="link_d4_base">
    <visual>
      <geometry>
        <box size="${ur5_tool_height} ${xh540_dim_width} ${d4+d5+xh540_dim_width}"/>
      </geometry>
      <origin rpy = "0 0 0" xyz="${-.5*ur5_tool_height} 0 ${-(d4-(d4+d5)/2)}"/>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <box size="${ur5_tool_height} ${xh540_dim_width} ${d4+d5+xh540_dim_width}"/>
      </geometry>
      <origin rpy = "0 0 0" xyz="${-.5*ur5_tool_height} 0 ${-(d4-(d4+d5)/2)}"/>
    </collision>

    <visual>
      <geometry>
        <box size="${d3-xh540_dim_height+.01375} ${xh540_dim_len} ${xh540_dim_width}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="${(d3-xh540_dim_height+.01375)/2} 0  ${-d4}"/>
    </visual>
    <collision>
      <geometry>
        <box size="${d3-xh540_dim_height+.01375} ${xh540_dim_len} ${xh540_dim_width}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="${(d3-xh540_dim_height+.01375)/2} 0  ${-d4}"/>
    </collision>
    <visual>
      <geometry>
        <box size="${d6-xh540_dim_height+.01375} ${xh540_dim_width} ${xh540_dim_len}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="${(d6-xh540_dim_height+.01375)/2} 0  ${d5}"/>
    </visual>
    <collision>
      <geometry>
        <box size="${d6-xh540_dim_height+.01375} ${xh540_dim_width} ${xh540_dim_len}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="${(d6-xh540_dim_height+.01375)/2} 0  ${d5}"/>
    </collision>
    <visual>
      <geometry>
        <box size="${xh540_dim_height} ${xh540_dim_width} ${xh540_dim_len}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="${d6-(xh540_dim_height/2-.01375)} 0  ${d5}"/>
      <material name="black"/>
    </visual>
    <collision>
      <geometry>
        <box size="${xh540_dim_height} ${xh540_dim_width} ${xh540_dim_len}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="${d6-(xh540_dim_height/2-.01375)} 0  ${d5}"/>
    </collision>

  </link>

  <link name="link_d5">
    <visual>
      <geometry>
        <cylinder radius="${xh540_servo_rad}" length="${link_thickness}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="${0} 0 ${-(xh540_dim_width/2 + link_thickness/2)}"/>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="${xh540_servo_rad}" length="${link_thickness}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="${0} 0 ${-(xh540_dim_width/2 + link_thickness/2)}"/>
    </collision>

    <visual>
      <geometry>
        <box size="${d7} ${2*xh540_servo_rad} ${link_thickness}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="${d7/2} 0 ${-(xh540_dim_width/2 + link_thickness/2)}"/>
    </visual>
    <collision>
      <geometry>
        <box size="${d7} ${2*xh540_servo_rad} ${link_thickness}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="${d7/2} 0 ${-(xh540_dim_width/2 + link_thickness/2)}"/>
    </collision>

    <visual>
      <geometry>
        <cylinder radius="${xh540_servo_rad}" length="${link_thickness}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="${0} 0 ${(xh540_dim_width/2 + link_thickness/2)}"/>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="${xh540_servo_rad}" length="${link_thickness}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="${0} 0 ${(xh540_dim_width/2 + link_thickness/2)}"/>
    </collision>
    <visual>
      <geometry>
        <box size="${d7} ${2*xh540_servo_rad} ${link_thickness}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="${d7/2} 0 ${(xh540_dim_width/2 + link_thickness/2)}"/>
    </visual>
    <collision>
      <geometry>
        <box size="${d7} ${2*xh540_servo_rad} ${link_thickness}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="${d7/2} 0 ${(xh540_dim_width/2 + link_thickness/2)}"/>
    </collision>

    <visual>
      <geometry>
        <cylinder radius="${xh540_servo_rad}" length="${link_thickness}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="${d7} 0 ${-(xh540_dim_width/2 + link_thickness/2)}"/>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="${xh540_servo_rad}" length="${link_thickness}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="${d7} 0 ${-(xh540_dim_width/2 + link_thickness/2)}"/>
      <material name="blue"/>
    </collision>
    <visual>
      <geometry>
        <cylinder radius="${xh540_servo_rad}" length="${link_thickness}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="${d7} 0 ${(xh540_dim_width/2 + link_thickness/2)}"/>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="${xh540_servo_rad}" length="${link_thickness}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="${d7} 0 ${(xh540_dim_width/2 + link_thickness/2)}"/>
      <material name="blue"/>
    </collision>

  </link>

  <link name="link_d6">
    <visual>
      <geometry>
        <box size="${twoXC430_dim_width} ${twoXC430_dim_height} ${twoXC430_dim_len}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 ${-(twoXC430_dim_height/2-.01125)} 0"/>
      <material name="black"/>
    </visual>
    <collision>
      <geometry>
        <box size="${twoXC430_dim_width} ${twoXC430_dim_height} ${twoXC430_dim_len}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 ${-(twoXC430_dim_height/2-.01125)} 0"/>
    </collision>

    <visual>
      <geometry>
        <cylinder radius="${twoXC430_servo_rad}" length="${(xh540_dim_width-twoXC430_dim_width)/2}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 ${(xh540_dim_width-twoXC430_dim_width)/4 + (twoXC430_dim_width/2)}"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="${twoXC430_servo_rad}" length="${(xh540_dim_width-twoXC430_dim_width)/2}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 ${(xh540_dim_width-twoXC430_dim_width)/4 + (twoXC430_dim_width/2)}"/>
    </collision>

    <visual>
      <geometry>
        <cylinder radius="${twoXC430_servo_rad}" length="${(xh540_dim_width-twoXC430_dim_width)/2}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 ${-((xh540_dim_width-twoXC430_dim_width)/4 + (twoXC430_dim_width/2))}"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="${twoXC430_servo_rad}" length="${(xh540_dim_width-twoXC430_dim_width)/2}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 ${-((xh540_dim_width-twoXC430_dim_width)/4 + (twoXC430_dim_width/2))}"/>
    </collision>

  </link>

  <link name="link_d7">

    <visual>
      <geometry>
        <box size="${twoXC430_servo_rad} ${twoXC430_servo_rad} ${d8-(twoXC430_dim_height-.01125)+d9}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 ${-(d8-(twoXC430_dim_height-.01125)-d9)/2}"/>
    </visual>
    <collision>
      <geometry>
        <box size="${twoXC430_servo_rad} ${twoXC430_servo_rad} ${d8-(twoXC430_dim_height-.01125)+d9}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 ${-(d8-(twoXC430_dim_height-.01125)-d9)/2}"/>
    </collision>

    
  </link>

  <link name="link_d8_ee">
    <visual>
      <geometry>
        <box size="${twoXC430_servo_rad} ${link_thickness} ${gripper_width} " />
      </geometry>
      <origin rpy="0 0 0" xyz="0 ${-.5*(gripper_width + link_thickness)} ${gripper_width/2-link_thickness}"/>
      <material name="red"/>
    </visual>
    <collision>
      <geometry>
        <box size="${twoXC430_servo_rad} ${link_thickness} ${gripper_width} " />
      </geometry>
      <origin rpy="0 0 0" xyz="0 ${-.5*(gripper_width + link_thickness)} ${gripper_width/2-link_thickness}"/>
    </collision>

    <visual>
      <geometry>
        <box size="${twoXC430_servo_rad} ${link_thickness} ${gripper_width} " />
      </geometry>
      <origin rpy="0 0 0" xyz="0 ${.5*(gripper_width + link_thickness)} ${gripper_width/2-link_thickness}"/>
      <material name="red"/>
    </visual>
    <collision>
      <geometry>
        <box size="${twoXC430_servo_rad} ${link_thickness} ${gripper_width} " />
      </geometry>
      <origin rpy="0 0 0" xyz="0 ${.5*(gripper_width + link_thickness)} ${gripper_width/2-link_thickness}"/>
    </collision>

    <visual>
      <geometry>
        <box size="${twoXC430_servo_rad} ${gripper_width} ${link_thickness}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 ${-link_thickness/2}"/>
      <material name="red"/>
    </visual>
    <collision>
      <geometry>
        <box size="${twoXC430_servo_rad} ${gripper_width} ${link_thickness}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 ${-link_thickness/2}"/>
    </collision>
  </link>


  
  <joint name="frame0_ee" type="fixed">
    <parent link="world"/>
    <child link="link_d0_ee"/>
    <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
  </joint>


  <joint name="joint_A1" type="revolute">
    <parent link="link_d0_ee"/>
    <child link="link_d1"/>
    <origin xyz="0 0 ${-d0}" rpy="${pi/2} 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-0.698" upper="3.491" effort="10.0" velocity="1.0"/>
  </joint>

  <joint name="joint_A2" type="revolute">
    <parent link="link_d1"/>
    <child link="link_d2"/>
    <origin xyz="${-1*d1} 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-2.094" upper="2.094" effort="10.0" velocity="1.0"/>
  </joint>

  <joint name="joint_A3" type="revolute">
    <parent link="link_d2"/>
    <child link="link_d3"/>
    <origin xyz="${-1*d2} 0 0" rpy="${-pi/2} 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-2.094" upper="2.094" effort="10.0" velocity="1.0"/>
  </joint>

  <joint name="ur5_frame" type="fixed">
    <parent link="link_d3"/>
    <child link="link_d4_base"/>
    <origin xyz="${-1*(d3)} 0 ${(d4)}" rpy="0 0 0"/>
  </joint>

  <joint name="joint_B1" type="revolute">
    <parent link="link_d4_base"/>
    <child link="link_d5"/>
    <origin xyz="${d6} 0 ${(d5)}" rpy="${pi/2} 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-2.094" upper="2.094" effort="10.0" velocity="1.0"/>
  </joint>

  <joint name="joint_B2" type="revolute">
    <parent link="link_d5"/>
    <child link="link_d6"/>
    <origin xyz="${d7} 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-0.698" upper="3.491" effort="10.0" velocity="1.0"/>
  </joint>

  <joint name="joint_B3" type="revolute">
    <parent link="link_d6"/>
    <child link="link_d7"/>
    <origin xyz="${0} ${-d8} 0" rpy="${pi/2} 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="${-pi}" upper="${pi}" effort="10.0" velocity="1.0"/>
  </joint>

  <joint name="ee_B" type="fixed">
    <parent link="link_d7"/>
    <child link="link_d8_ee"/>
    <origin xyz="0 0 ${d9+link_thickness}" rpy="0 0 0"/>
  </joint>




  

</robot>
